@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
	font-family: 'Open Sans', sans-serif;
	background: #c6e0e4;
}

nav a{

	line-height: 65px;
	position: relative;
  z-index: 1;


}
nav .animation{
	position: absolute;
	height: 100%;
	/* height: 5px; */
	top: 0;
	/* bottom: 0; */
	z-index: 0;
	background: #06add6;
	border-radius: 20px;
	transition: all .3s ease 0s;
}
a:nth-child(1){
	width: 100px;
}
nav .start-home,a:nth-child(1):hover~.animation{
	width: 100px;
	left: 5px;
}
a:nth-child(2){
	width: 100px;
}
nav .start-department,a:nth-child(2):hover~.animation{
	width: 120px;
	left: 115px;
}
a:nth-child(3){
	width: 100px;
}
nav .start-team,a:nth-child(3):hover~.animation{
	width: 100px;
	left: 240px;
}
a:nth-child(4){
	width: 100px;
}
nav .start-engage,a:nth-child(4):hover~.animation{
	width: 120px;
	left: 359px;
}
a:nth-child(5){
	width: 100px;
}
nav .start-contact,a:nth-child(5):hover~.animation{
	width: 90px;
	left: 500px;
}

