.main-board{
    color:rgb(37, 24, 24);
    background-color: rgb(209, 235, 243);
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
    padding:145px;
    margin:0px;
    
}